@charset "UTF-8";
/*---------------------- Declaration google fonts -----------------------------------------------*/
/*------- Titres font Space Mono-------*/
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.space-mono-regular {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: italic;
}

/*------- Paragraphes font Poppins-------*/
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

/*--------------------------------------------- Icônes reseaux sociaux header ------------------------------*/
.header-social-item {
  transition: transform 0.3s ease-in-out;
}

.header-social-item:hover {
  transform: scale(1.6);
}

/*.ast-mobile-menu-active .main-navigation ul {
  opacity: 1 !important;
  pointer-events: auto !important;
}*/
/*--------------------------------------------- Modale de contact -------------------------------------------*/
#popup-modale {
  position: absolute;
  left: 0;
  display: none;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 200;
  opacity: 0;
}

.form-modale {
  display: block;
  position: absolute;
  top: 10vh;
  width: 40vw;
  height: 60vh;
}

.div-form-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: block;
  position: absolute;
  text-transform: uppercase;
  background-color: white;
  border: 5px solid black;
}

.div-form-contact img {
  display: block;
  width: 100vw;
}

.div-form-contact label {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
}

.div-form-contact input {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.div-form-contact textarea {
  display: flex;
  flex-direction: column;
  height: 5em;
  border-radius: 4px;
}

.div-form-contact p input[type="submit"] {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  color: #313144;
  background-color: #E5E5E5;
  padding: 20px 40px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.div-form-contact p input[type="submit"]:hover {
  color: #E00000;
  background-color: #FFD6D6;
  transform: scale(1.05);
}

.wpcf7-response-output {
  background: white;
  border: 3px solid #E00000;
  border-radius: 4px;
  position: relative;
  top: -5em;
}

.closeModale {
  position: absolute;
  right: -2vw;
  z-index: 200;
  cursor: pointer;
  color: #313144;
  background-color: #E5E5E5;
  border: 2px solid #313144;
  padding: 6px 10px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.closeModale:hover {
  color: #E00000;
  background-color: #FFD6D6;
  border: 2px solid #E00000;
  transform: scale(1.2);
}

/*---------------------------------- Styles single.php ----------------------------------*/
.single_post_article {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-bottom: 3px solid black;
}

.entry-meta {
  display: none;
}

.infos_du_post {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 2em;
  width: 25vw;
  padding-bottom: 3em;
  text-transform: uppercase;
}

.image_du_post {
  position: absolute;
  top: 0px;
  right: -6em;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80vh;
  padding: 0;
}

.image_du_post img.img_portrait {
  display: block;
  position: relative;
  right: 0px;
  bottom: 0px;
  height: 100%;
  border-bottom: 3px solid white;
  max-height: none;
  object-fit: contain;
}

.image_du_post img.img_paysage {
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 130%;
  max-width: none;
  border-left: 1em solid white;
  object-fit: contain;
}

/*-------- Menu navigation bas de page ---------*/
.post-navigation {
  display: none;
}

.contact_ref_img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 31vw;
}

.contact_et_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 80vw;
  left: 13vw;
}

.divNavSinglePost {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 80vw;
  left: 13vw;
}

.prev_next_post-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
}

.postNavThumbnail {
  display: block;
  width: 5vw;
}

.PostNavFleches {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PostNavFleches img {
  padding-left: 1vw;
  padding-right: 1vw;
}

/*------------------ 2 images liées ----------------------------*/
.photosLiees {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
  left: 13vw;
}

.photosLiees h3 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.imgX2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.randomImgLink {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 75vh;
  overflow: hidden;
}

.randomImgLink img {
  position: absolute;
  /* Permet de déplacer l'image à l'intérieur du conteneur */
  top: 50%;
  /* Centrer verticalement */
  left: 50%;
  /* Centrer horizontalement */
  transform: translate(-50%, -50%);
  /* Ajuste la position pour un centrage parfait */
  width: 100%;
  /* Peut ajuster cette valeur selon la taille que tu veux pour l'image */
  height: 100%;
  /* Peut aussi ajuster selon la taille */
  object-fit: cover;
  padding: 0.5em;
}

/*------------------ Photos tous les posts page d'accueil ------------------*/
.div_container_photos_accueil {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  left: 10vw;
  flex-wrap: wrap;
  gap: 0.5em;
  /* Fin de article */
}

.div_container_photos_accueil article {
  position: relative;
  display: flex;
  justify-content: center;
  width: 39vw;
  height: 60vh;
  overflow: hidden;
}

.div_container_photos_accueil article:hover .hoverphoto {
  opacity: 1;
  pointer-events: auto;
}

.div_container_photos_accueil article img {
  position: absolute;
  /*/ Déplace l'image à l'intérieur du conteneur */
  top: 50%;
  /* Centre verticalement*/
  left: 50%;
  /* Centre horizontalement*/
  transform: translate(-50%, -50%);
  /* Ajuste la position pour le centrage */
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Fin de div_container_photos_accueil */
.hoverphoto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 1em;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 500;
}

.hoverphoto .iconFullScreen {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.hoverphoto .iconFullScreen a {
  display: inline-block;
  color: white;
  transition: transform 0.3s ease;
}

.hoverphoto .iconFullScreen a:hover {
  transform: scale(1.5);
}

.hoverphoto .iconFullScreen span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  padding: 1em;
  border-radius: 50%;
  color: white;
  background-color: black;
}

.hoverphoto .iconFullScreen span li {
  margin: 0;
}

.hoverphoto .iconeEye {
  display: block;
  position: relative;
  left: 45%;
  width: 3em;
  text-align: center;
  font-size: 2em;
}

.hoverphoto .iconeEye a {
  display: inline-block;
  color: white;
  transition: transform 0.3s ease;
}

.hoverphoto .iconeEye a:hover {
  transform: scale(1.5);
}

.hoverphoto .titrecategorie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
  color: white;
}

.hoverphoto .titrecategorie span {
  margin: 0;
  text-shadow: 2px 2px 0.5px rgba(0, 0, 0, 0.3);
}

.lightboxPhoto {
  display: none;
  opacity: 0;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  transition: opacity 0.5s ease;
}

.lightboxPhoto img {
  display: block;
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.lightboxPhoto #closeFullScreen {
  display: block;
  position: absolute;
  top: 5vh;
  right: 2vw;
  font-size: 1em;
  color: black;
  padding: 0.2em;
  width: 2em;
  text-align: center;
  background-color: grey;
  z-index: 1100;
  border: 1px solid white;
  border-radius: 10%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.lightboxPhoto #closeFullScreen:hover {
  transform: scale(1.5);
  border: 1px solid red;
  color: red;
}

/*------------------ Listes déroulantes ---------------------*/
.div_filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 79vw;
  position: relative;
  left: 10.5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.div_filtres .div_filtre_gauche {
  display: flex;
  flex-direction: row;
  width: 39vw;
  gap: 0;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 5vh;
}

.div_filtres .div_filtre_droite {
  display: flex;
  flex-direction: row;
  width: 39vw;
  gap: 0;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  margin-left: 1vw;
  height: 5vh;
}

.div_filtres select {
  position: relative;
  top: 0vh;
  width: 15vw;
  margin: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.div_filtres select option:hover {
  background-color: #FFD6D6;
}

.btnVoirPlus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.btnVoirPlus button {
  display: block;
  width: 30vw;
}

/*--------------------------------------------------------------- Mobiles ---------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
  .site-main {
    display: flex;
    flex-direction: column;
  }
  h2 {
    font-size: 2em;
  }
  .form-modale {
    display: block;
    position: absolute;
    top: 10vh;
    width: 80vw;
    height: 60vh;
  }
  .closeModale {
    position: absolute;
    right: -8vw;
    z-index: 200;
  }
  /* ---------------------- Header --------------------------*/
  div.ast-post-format- {
    display: none;
  }
  .ast-mobile-header-wrap .main-navigation ul li a {
    color: #E00000 !important;
    /* Remplace par la couleur souhaitée */
  }
  /*------------------------------------------ Page d'accueil -------------------------*/
  /*------------------ Listes déroulantes ---------------------*/
  .div_filtres {
    flex-direction: column;
  }
  .div_filtres .div_filtre_gauche {
    flex-direction: column;
    width: 100%;
    gap: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 10vh;
  }
  .div_filtres .div_filtre_gauche select {
    position: relative;
    top: 0vh;
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
  }
  .div_filtres .div_filtre_gauche select:hover .hoverphoto {
    opacity: 1;
    pointer-events: auto;
  }
  .div_filtres .div_filtre_droite {
    flex-direction: column;
    width: 100%;
    gap: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 5vh;
  }
  .div_filtres .div_filtre_droite select {
    position: relative;
    top: 0vh;
    width: 100%;
    margin: 0;
    top: -5px;
  }
  .div_filtres select {
    position: relative;
    top: 0vh;
    width: 100%;
  }
  /*----------------------- 8 Photos ----------------------------*/
  .div_container_photos_accueil {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    left: 10vw;
    flex-wrap: wrap;
    gap: 0.5em;
  }
  .div_container_photos_accueil article {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 35vh;
    overflow: hidden;
  }
  .div_container_photos_accueil article img {
    position: absolute;
    /*/ Permet de déplacer l'image à l'intérieur du conteneur */
    top: 50%;
    /*/ Centrer verticalement*/
    left: 50%;
    /*/ Centrer horizontalement*/
    transform: translate(-50%, -50%);
    /*/ Ajuste la position pour un centrage parfait*/
    width: 100%;
    /*/ Peut ajuster cette valeur selon la taille que tu veux pour l'image*/
    height: 100%;
    /*/ Peut aussi ajuster selon la taille*/
    -o-object-fit: cover;
    object-fit: cover;
  }
  .div_container_photos_accueil .hoverphoto {
    opacity: 1;
    background: none;
  }
  .div_container_photos_accueil .hoverphoto .iconeEye {
    left: 35%;
  }
  /* Fin de div_container_photos_accueil */
  .btnVoirPlus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
  .btnVoirPlus button {
    display: block;
    width: 80vw;
  }
  /*------------------------------------------ Page single -------------------------*/
  .single_post_article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-bottom: 0px;
  }
  .entry-meta {
    display: none;
  }
  .infos_du_post {
    position: relative;
    bottom: 0px;
    left: 0px;
    top: 42vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2em;
    width: 80vw;
    padding-bottom: 3em;
    text-transform: uppercase;
  }
  hr {
    display: none;
  }
  .image_du_post {
    position: relative;
    top: -40vh;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 80vw;
    padding: 0;
  }
  .image_du_post img.img_portrait {
    display: block;
    position: relative;
    right: 0px;
    bottom: 0px;
    height: 100%;
    border-bottom: 3px solid white;
    max-height: none;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .image_du_post img.img_paysage {
    display: block;
    position: relative;
    right: 0px;
    top: 5vh;
    bottom: 0px;
    left: -7vw;
    width: 90vw;
    max-height: 30vh;
    max-width: none;
    border-left: 1em solid white;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .contact_ref_img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    top: 8vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .contact_ref_img button {
    width: 80vw;
    margin-top: 20px;
  }
  .contact_et_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    left: 0vw;
    /*top: -5vh;*/
  }
  .divNavSinglePost {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 80vw;
    left: 13vw;
  }
  .prev_next_post-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
  }
  .postNavThumbnail {
    display: block;
    width: 5vw;
  }
  .PostNavFleches {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .PostNavFleches img {
    padding-left: 1vw;
    padding-right: 1vw;
  }
  /*------------------ 2 images liées ----------------------------*/
  .photosLiees {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    left: 8vw;
    top: 8vh;
  }
  .photosLiees h3 {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .imgX2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .randomImgLink {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 35vh;
    overflow: hidden;
  }
  .randomImgLink img {
    position: absolute;
    /* Permet de déplacer l'image à l'intérieur du conteneur */
    top: 50%;
    /* Centrer verticalement */
    left: 50%;
    /* Centrer horizontalement */
    transform: translate(-50%, -50%);
    /* Ajuste la position pour un centrage parfait */
    width: 100%;
    /* Peut ajuster cette valeur selon la taille que tu veux pour l'image */
    height: 100%;
    /* Peut aussi ajuster selon la taille */
    -o-object-fit: cover;
    object-fit: cover;
    padding: 0.5em;
  }
  /*-------------------------------------------- Footer -----------------------------------------*/
  .footer-nav-wrap {
    display: block;
    position: relative;
    width: 100vw;
    height: 10vh;
    align-items: center;
  }
  .site-footer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 14vh;
  }
}

/* Fin de @media (max-width: 480px) */
